.idea/ 
backtracking/__pycache__/
dp/__pycache__/ 
stack/__pycache__/ 
strings/__pycache__/ 
greedy/__pycache__/
binary_search/__pycache__/
graphs/__pycache__/
linked_lists/__pycache__/
uncategorized/__pycache__/
